@import "../mixins.scss";

input[type="text"] {
  @include primary-input;
  font-size: 1.4rem;
  display: flex;
  border: 1px solid var(--color-tertiary);
  border-radius: var(--border-radius-primary);
}
