#home-page {
  background-color: var(--color-dark);
  background-image: url(/assets/img/globe-map.svg);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: right center;

  .ships-names {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;
  }
}
